---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Estadisticas from '../components/Estadisticas.astro';
import QuienesSomos from '../components/QuienesSomos.astro';
import QueHacemos from '../components/QueHacemos.astro';
import NuestroEnfoque from '../components/NuestroEnfoque.astro';
import Testimonios from '../components/Testimonios.astro';
import AQuienesAcompanamos from '../components/AQuienesAcompanamos.astro';
import CallToAction from '../components/CallToAction.astro';
import AporteVoluntario from '../components/AporteVoluntario.astro';
import Noticias from '../components/Noticias.astro';
import Aliados from '../components/Aliados.astro';
import Contactanos from '../components/Contactanos.astro';
import Footer from '../components/Footer.astro';
import Banner8M from '../components/Banner8M.astro';
---

<Layout title="Fundación No Me Olvides - Acompañamiento a mujeres sobrevivientes de violencia">
  {/* <Banner8M /> */}
  <Navbar />
  <main>
    <Hero />
    <Estadisticas />
    <QuienesSomos />
    <QueHacemos />
    <NuestroEnfoque />
    <Testimonios />
    <AQuienesAcompanamos />
    <CallToAction />
    <AporteVoluntario />
    {/* <Noticias /> */}
    {/* <Aliados /> */}
    <Contactanos />
  </main>
  <Footer />
</Layout>
